<template>
    <div id="app">
        <h1>{{ msg }}</h1>
        reference: http://www.cnblogs.com/dingyiming/p/5009630.html
        Steps:
        <br>
        1. run npm run build
        <br>
        2. run nodemon ./bin/www
        ===================================================
        不知道为啥运行 npm run dev不生成build.js文件，估计和用了nodejs有关。
    </div>
</template>

<script>
    debugger;
    export default {
        name: 'app',
        data () {
            return {
                msg: 'Welcome to Your Vue.js App'
            }
        }
    }
</script>

<style>
#app {
font-family: 'Avenir', Helvetica, Arial, sans-serif;
text-align: center;
color: #2c3e50;
margin-top: 60px;
}

.test{
    color:red;
}

a {
color: #42b983;
}
</style>