extends layout

block daemonstyles
  link(href="/jquery-easyui/themes/default/easyui.css", rel="stylesheet",type="text/css")
  link(href="/jquery-easyui/themes/icon.css",rel="stylesheet",type="text/css")
  style(type="text/css").
    .mytest{
        width:100%;
        height:400px;
        margin:0 auto;
    }
    .mypanel{
      width:100%;
      height:100px;
    }
    .northregion{
      height:50px;
    }
    .eastregion{
      width:400px;
    }
    #dg{
      border:none;
    }

block daemonscripts
  script(src="/jquery-easyui/jquery.min.js")
  script(src="/jquery-easyui/jquery.easyui.min.js")
  script(src="http://cdn.bootcss.com/vue/2.2.6/vue.js")
  script(type="text/javascript").
    var jsonData = {
                    "total":28,
                    "rows":
                        [
                          {"productid":"FI-SW-01","productname":"Koi","unitcost":10.00,"status":"P","listprice":36.50,"attr1":"Large","itemid":"EST-1"},
                          {"productid":"K9-DL-01","productname":"Dalmation","unitcost":12.00,"status":"P","listprice":18.50,"attr1":"Spotted Adult Female","itemid":"EST-10"},
                          {"productid":"AV-CB-01","productname":"Amazon Parrot","unitcost":92.00,"status":"P","listprice":63.50,"attr1":"Adult Male","itemid":"EST-18"}
                        ]};
    
    var columnData = 
                    [[
                        { field: 'productid', title: 'ID', width: 25, sortable:true},
                        { field: 'productname', title: 'name', width: 100,sortable:true},
                        { field: 'unitcost', title: 'description', width: 75,sortable:true},
                        { field: 'status', title: 'input type', width: 75, sortable:true},
                        { field: 'listprice', title: 'data type', width: 75, sortable:true},
                        { field: 'attr1', title: 'update user', width: 50, sortable:true},
                        { field: 'itemid', title: 'update time', width: 75, sortable:true}
                    ]];
    //注册一个didi-component，也可以将这段写到new Vue({components:{....}})中
    Vue.component('didi-component',{
      props:['msg'],
      template:'<div>A custom sdcompoent! {{msg}}</div>'
    });

    var app = new Vue({
        el: '#mytest',
        data: {
            message: 'Hello Vue!',
            griddata:jsonData
        },
        methods:{
            //bind datagrid
            bind:function(event){
                $("#dg").datagrid({
                                    data         : this.griddata,
                                    height       : 'auto',
                                    border       : false,
                                    fit          : true,
                                    fitColumns   : true,
                                    singleSelect : true,              //select single row
                                    pagination   : true,              //start page
                                    pageSize     : 10, //size per page
                                    pageList     : [10, 20, 30], //page list 
                                    rownumbers   : true,              //line number
                                    columns      : columnData
                                });
            }
        }
    });

    //run it!
    app.bind();

block daemoncontent
  div.easyui-layout(fit="true")
    //search area
    div.northregion(region='north')
    //attribute value area
    div.eastregion(region='east',split=true,title="Attribute Value Collections")
      div.mytest#mytest
        |{{message}}
        input(type="text",v-model="message")
        <br/><br/>
        div.easyui-panel.mypanel(title="my basic pannel")
          |{{message}}
        //传递一个字符串给组件
        didi-component(msg="mytesting component")
        //默认为单向传递一个message数据对象给组件
        didi-component(v-bind:msg="message")
        //显示指定为单向传递一个message数据对象给组件
        didi-component(v-bind:msg.once="message")
        //显示指定为双向传递一个message数据对象给组件
        didi-component(v-bind:msg.sync="message")
        <br/></br>
    //attribute area
    div(region='center',title="Attributes Collections") 
      div#dg
 

