extends layout

block daemonscripts
    script(src="http://cdn.bootcss.com/vue/2.2.6/vue.js")
    script(type="text/javascript").
        var bus = Vue.extend({
            template:"#bus",
            replace:true
        });
        var business = Vue.extend({
            template:"#business",
            replace:true
        });
        var fast = Vue.extend({
            template:"#fast",
            replace:true
        });

        var app = new Vue({
            el:"#example",
            data:{
                currentView:'fast'
            },
            components:{
                bus:{template:"<div>滴滴巴士</div>"},
                business:{template:"<div>滴滴商务</div>"},
                fast:{template:"<div>滴滴快车</div>"},
            },
            methods:{
                click:function(){
                     setTimeout(function () {
                        app.currentView = "fast";
                    }, 1000);
                     setTimeout(function () {
                        app.currentView = "business";
                    }, 3000);
                    setTimeout(function () {
                        app.currentView = "bus";
                    }, 5000);
                }
            }
        });
        
        //change data
        app.currentView = "business";

block daemoncontent
    div#example
        //组件在vm.currentView变化时改变
        component(:is="currentView")

        input(type="button",value="mybuton",v-on:click="click()")