extends layout

block daemonscripts
    script(src="http://cdn.bootcss.com/vue/2.2.6/vue.js")
    script(src="./components/3-header.js")
    script(src="./components/3-footer.js")

block daemoncontent
    div#header
        my-header
    div#footer
        my-footer