extends layout

block daemonscripts
    script(src="./requirejs/require.js",data-main="./javascripts/4-main.js",defer,async="true")

block daemoncontent
    div#rheader
        dy-require-header
    div#rfooter
        dy-require-footer