extends layout

block daemonscripts
    script(src="./requirejs/require.js",data-main="./javascripts/5-main.js")

block daemoncontent
    //top level layout
    div#dgContainer.easyui-layout(fit="true")
      //north region
      div.northregion(region='north',title="Data Query")
      //east region
      div.eastregion(region='east',split=true,title="Attribute Value Collections")
        vue-datagrid(gridid="dg1")
      //center region
      div(region='center',title="Attributes Collections")
        vue-datagrid(gridid="dg")
