extends layout

block daemonscripts
    script(src="6-bundle.js")

block daemoncontent
    |=====================================================================
    |<br>
    |注意：本用例需要在cmd模式下，进入node_modules/.bin目录，然后运行如下命令编译生成js文件：webpack ../../public/components/6-app.js ../../public/6-bundle.js
    |<br>
    |编译生成的结果如下：
    |<br>
    |Hash: 328a1e47821a95584d40
    |<br>
    |Version: webpack 2.4.1
    |<br>
    |Time: 110ms
    |<br>
    |Asset     Size          Chunks             Chunk Names
    |<br>
    |bundle.js 2.94 kB       0  [emitted]        main
    |<br>
    |+ 2 hidden modules
    |<br>
    |一旦成功执行完毕，打开页面浏览，就能看到“hello webpack”的输出信息了。
    |<br>
    |======================================================================
    div#root

